{% extends "blog/base.html" %}
{% load static %}
{% block content %}
    <h1>ABOUT THE PROJECT</h1>
    <p>ANONCOM (ANONimous COMplaints) is a site created as a training task for the Python programming course.
    The aim of the project is to create a space where students of Bioinformatics Institute can share their ideas and opinions.</p>
    <p></p>
    <p> You can find code in github <a href="https://github.com/Freddsle/ANONCOM">repository</a>:</p>


    <h4>ANONCOM members</h4>



    <div id="rec221423221"
         class="r t-rec t-rec_pt_15 t-rec_pb_15 r_showed r_anim"
         style="padding-top:15px;padding-bottom:15px; "
         data-record-type="139">
        <!-- T013 -->
        <div class="t013">
            <div class="t-container">
                <div class="t-col t-col_3 t013__centeredsection">
                    <img class="t013__img t-img loaded"
                         src="{% static 'img/yulia.jpg' %}"
                         data-original="https://static.tildacdn.com/tild3831-3734-4662-a263-643134636261/photo_2019-08-31_20-.jpg"
                         imgfield="img"
                         data-tu-max-width="320"
                         data-tu-max-height="320" data-tu-cover="c"
                         style="width:100;height:150px;">
                    <br>
                    <div class="t013__autor-title t-descr"
                         style="font-size:25px;"
                         field="imgtitle">Буренкова Юлия
                    </div>
                    <div class="t013__autor-descr t-descr"
                         style="font-size:18px;"
                         field="imgdescr">ИПНК НАНБ
                    </div>
                </div>
                <div class="t-col t-col_9 ">
                    <div class="t013__text t-text t-text_md"
                         style="font-size:15px;"
                         align="justify"
                         field="text">Провизор, выпускница Института подготовки научных кадров при Академии наук Беларуси по направлению химия. Работала в Лаборатории белковой инженерии ИБОХ НАНБ, занималась изучением ферментативного синтеза ДНК с помощью TdT, а также твердофазным синтезом олигонуклеотидов и сборкой генов. Научные интересы: анализ данных, медицинская генетика, молекулярная биология, молекулярная динамика и дизайн белков.
                    </div>
                </div>
                <div class="t-container">
                    <img class="t013__img t-img loaded" src="{% static 'img/GitHub-Mark-32px.png' %}"
                         data-original="https://static.tildacdn.com/tild3831-3734-4662-a263-643134636261/photo_2019-08-31_20-.jpg"
                         imgfield="img" data-tu-max-width="320"
                         data-tu-max-height="320" data-tu-cover="c"
                         style="width:10;height:16px;">
                        <a href="https://github.com/Freddsle">Github</a>
                    <br>
                    <img class="t013__img t-img loaded" src="{% static 'img/Logo.png' %}"
                         data-original="https://static.tildacdn.com/tild3831-3734-4662-a263-643134636261/photo_2019-08-31_20-.jpg"
                         imgfield="img" data-tu-max-width="320"
                         data-tu-max-height="320" data-tu-cover="c"
                         style="width:10;height:16px;">
                        <a href="https://t.me/kova_liya">Telegram</a>
                </div>
            </div>
        </div>
    </div>
    <div id="rec221434205"
         class="r t-rec t-rec_pt_15 t-rec_pb_15 r_anim r_showed"
         style="padding-top:15px;padding-bottom:15px; "
         data-record-type="139"><!-- T013 -->
        <div class="t013">
            <div class="t-container">
                <div class="t-col t-col_3 t013__centeredsection">
                    <img class="t013__img t-img loaded"
                         src="https://thumb.tildacdn.com/tild3630-3638-4631-a231-633761323964/-/resize/80x/-/format/webp/noroot.png"
                         data-original="https://static.tildacdn.com/tild3630-3638-4631-a231-633761323964/noroot.png"
                         imgfield="img"
                         data-tu-max-width="320"
                         data-tu-max-height="320"
                         data-tu-cover="c">
                    <br>
                    <div class="t013__autor-title t-descr"
                         style="font-size:25px;"
                         field="imgtitle">Горбонос Александра
                    </div>
                    <div class="t013__autor-descr t-descr"
                         style="font-size:18px;"
                         field="imgdescr">НИУ ВШЭ
                    </div>
                </div>
                <div class="t-col t-col_9 ">
                    <div class="t013__text t-text t-text_md"
                         style="font-size:15px;"
                         align="justify"
                         field="text">Занимаюсь научной работой в области микроРНК, в частности изучаю профиль экспрессии канонической формы и изоформ микроРНК при различных заболеваниях. В настоящий момент являюсь научным ассистентом в международной лаборатории микрофизиологических систем на базе НИУ ВШЭ. Научные интересы: микроРНК, copy number variation (CNV), молекулярная биология.
                    </div>
                </div>
                <div class="t-container">
                    <img class="t013__img t-img loaded" src="{% static 'img/GitHub-Mark-32px.png' %}"
                         data-original="https://static.tildacdn.com/tild3831-3734-4662-a263-643134636261/photo_2019-08-31_20-.jpg"
                         imgfield="img" data-tu-max-width="320"
                         data-tu-max-height="320" data-tu-cover="c"
                         style="width:10;height:16px;">
                    <a href="https://github.com/IlonaGA">Github</a>
                    <br>
                    <img class="t013__img t-img loaded" src="{% static 'img/Logo.png' %}"
                         data-original="https://static.tildacdn.com/tild3831-3734-4662-a263-643134636261/photo_2019-08-31_20-.jpg"
                         imgfield="img" data-tu-max-width="320"
                         data-tu-max-height="320" data-tu-cover="c"
                         style="width:10;height:16px;">
                    <a href="https://t.me/AlexGorbonos">Telegram</a>
                </div>
            </div>
        </div>
    </div>
    <div id="rec261724219"
         class="r t-rec t-rec_pt_15 t-rec_pb_15 r_anim r_showed"
         style="padding-top:15px;padding-bottom:15px; "
         data-record-type="139">
        <!-- T013 -->
        <div class="t013">
            <div class="t-container">
                <div class="t-col t-col_3 t013__centeredsection">
                    <img class="t013__img t-img loaded"
                         src="https://thumb.tildacdn.com/tild3031-6566-4162-b339-363731363966/-/resize/80x/-/format/webp/noroot.png"
                         data-original="https://static.tildacdn.com/tild3031-6566-4162-b339-363731363966/noroot.png"
                         imgfield="img"
                         data-tu-max-width="320"
                         data-tu-max-height="320"
                         data-tu-cover="c">
                    <br>
                    <div class="t013__autor-title t-descr"
                         style="font-size:25px;"
                         field="imgtitle">Григорьева Елена
                    </div>
                    <div class="t013__autor-descr t-descr"
                         style="font-size:18px;" field="imgdescr">НГУ
                    </div>
                </div>
                <div class="t-col t-col_9 ">
                    <div class="t013__text t-text t-text_md"
                         align="justify"
                         style="font-size:15px;" field="text">Студентка магистратуры Факультета Естественных Наук НГУ, направления синтетическая биология. Старший лаборант в лаборатории оптимизации выхода рекомбинантных белков в растительных системах экспрессии ИЦиГ СО РАН. Научные интересы: геномное редактирование растений, трансгенез, цитология, генетика, физиология растений.
                        <br>
                    </div>
                </div>
                <div class="t-container">
                    <img class="t013__img t-img loaded" src="{% static 'img/GitHub-Mark-32px.png' %}"
                         data-original="https://static.tildacdn.com/tild3831-3734-4662-a263-643134636261/photo_2019-08-31_20-.jpg"
                         imgfield="img" data-tu-max-width="320"
                         data-tu-max-height="320" data-tu-cover="c"
                         style="width:10;height:16px;">
                    <a href="https://github.com/lengrigo">Github</a>
                    <br>
                    <img class="t013__img t-img loaded" src="{% static 'img/Logo.png' %}"
                         data-original="https://static.tildacdn.com/tild3831-3734-4662-a263-643134636261/photo_2019-08-31_20-.jpg"
                         imgfield="img" data-tu-max-width="320"
                         data-tu-max-height="320" data-tu-cover="c"
                         style="width:10;height:16px;">
                    <a href="https://t.me/lengrigo">Telegram</a>
                </div>
            </div>
        </div>
    </div>
    <div id="rec261725363"
         class="r t-rec t-rec_pt_15 t-rec_pb_15 r_anim r_showed"
         style="padding-top:15px;padding-bottom:15px; "
         data-record-type="139">
        <!-- T013 -->
        <div class="t013">
            <div class="t-container">
                <div class="t-col t-col_3 t013__centeredsection">
                    <img class="t013__img t-img loaded"
                         src="https://thumb.tildacdn.com/tild6431-3761-4261-b038-663036643964/-/resize/160x/-/format/webp/noroot.png"
                         data-original="https://static.tildacdn.com/tild6431-3761-4261-b038-663036643964/noroot.png"
                         imgfield="img"
                         data-tu-max-width="320"
                         data-tu-max-height="320"
                         data-tu-cover="c">
                    <br>
                    <div class="t013__autor-title t-descr"
                         style="font-size:25px;"
                         field="imgtitle">Подгало Дмитрий
                    </div>
                    <div class="t013__autor-descr t-descr"
                         style="font-size:18px;"
                         field="imgdescr">ФГБОУ ВО СГМУ Минздрава РФ, Смоленск
                    </div>
                </div>
                <div class="t-col t-col_9 ">
                    <div class="t013__text t-text t-text_md"
                         style="font-size:15px;"
                         align="justify"
                         field="text">Опыт: лаборант кафедры гистологии, цитологии и эмбриологии, победитель универсиады «Анатом и я», наличие свидетельства о государственной регистрации программы для ЭВМ. Научные интересы: морфология человека, математика, информатика, увлечения: иностранные языки, спорт, саморазвитие.
                </div>
                </div>
                <div class="t-container">
                    <img class="t013__img t-img loaded" src="{% static 'img/GitHub-Mark-32px.png' %}"
                         data-original="https://static.tildacdn.com/tild3831-3734-4662-a263-643134636261/photo_2019-08-31_20-.jpg"
                         imgfield="img" data-tu-max-width="320"
                         data-tu-max-height="320" data-tu-cover="c"
                         style="width:10;height:16px;">
                    <a href="https://github.com/DmitriiPodgalo">Github</a>
                    <br>
                    <img class="t013__img t-img loaded" src="{% static 'img/Logo.png' %}"
                         data-original="https://static.tildacdn.com/tild3831-3734-4662-a263-643134636261/photo_2019-08-31_20-.jpg"
                         imgfield="img" data-tu-max-width="320"
                         data-tu-max-height="320" data-tu-cover="c"
                         style="width:10;height:16px;">
                    <a href="https://t.me/podgalo">Telegram</a>
                </div>
            </div>
        </div>
    </div>
    <div id="rec359783381"
         class="r t-rec t-rec_pt_15 t-rec_pb_15 r_hidden r_anim"
         style="padding-top:15px;padding-bottom:15px; "
         data-record-type="139">
        <!-- T013 -->
        <div class="t013">
            <div class="t-container">
                <div class="t-col t-col_3 t013__centeredsection">
                    <img class="t013__img t-img loaded"
                         src="https://thumb.tildacdn.com/tild3236-6433-4037-b866-353863323962/-/resize/160x/-/format/webp/noroot.png"
                         data-original="https://static.tildacdn.com/tild3236-6433-4037-b866-353863323962/noroot.png"
                         imgfield="img"
                         data-tu-max-width="320"
                         data-tu-max-height="320"
                         data-tu-cover="c">
                    <br>
                    <div class="t013__autor-title t-descr"
                         style="font-size:25px;"
                         field="imgtitle">Тоидзе Анна
                    </div>
                    <div class="t013__autor-descr t-descr"
                         style="font-size:18px;"
                         field="imgdescr">РУБ, Бохум
                    </div>
                </div>
                <div class="t-col t-col_9 ">
                    <div class="t013__text t-text t-text_md"
                         style="font-size:15px;"
                         align="justify"
                         field="text">Студентка 3-го курса бакалавриата биохимического факультета Рурского Университета Бохум. Работаю при университете преподавателем математики. Научные интересы: молекулярная биология, биохимия, биоинформатика.
                    </div>
                </div>
                <div class="t-container">
                    <img class="t013__img t-img loaded" src="{% static 'img/GitHub-Mark-32px.png' %}"
                         data-original="https://static.tildacdn.com/tild3831-3734-4662-a263-643134636261/photo_2019-08-31_20-.jpg"
                         imgfield="img" data-tu-max-width="320"
                         data-tu-max-height="320" data-tu-cover="c"
                         style="width:10;height:16px;">
                    <a href="https://github.com/AnnaToi01">Github</a>
                    <br>
                    <img class="t013__img t-img loaded" src="{% static 'img/Logo.png' %}"
                         data-original="https://static.tildacdn.com/tild3831-3734-4662-a263-643134636261/photo_2019-08-31_20-.jpg"
                         imgfield="img" data-tu-max-width="320"
                         data-tu-max-height="320" data-tu-cover="c"
                         style="width:10;height:16px;">
                    <a href="https://t.me/anna_toidze">Telegram</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}