{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div>
        <form method="POST" enctype="multipart/form-data">
            <!--  CSRF Token - security          -->
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Update Blog Post</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-primary" type="submit">Update</button>
            </div>
        </form>
    </div>
{% endblock content %}
